body {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  background:#F5F4F0;
  color:#78766F;
  text-align:center;
  font-family:georgia, serif;
}

.left, ul.left li {
  text-align: left;
}

h1, h2, h3, h4, h5, h6 {
  font-family:prata, serif;
  line-height:140%;
  display:inline-block;
}

p {
  font-family:georgia, serif;
  font-size:120%;
}

h1, h2, h3, h4, h5, h6 { color:#4C4B46; }

h4 { margin:30px 0 30px 0; }

.speaker-frame, .speaker-frame img {
  width:200px;
  height:200px;
  -webkit-border-radius:100px;
  border-radius:100px;
  margin:0 auto 15px auto;
}

.supporter-frame, .supporter-frame img {
  width:150px;
  height:150px;
  -webkit-border-radius:100px;
  border-radius:100px;
  margin:0 auto 15px auto;
}

.speaker, .supporter, .sponsorship {
  margin-bottom:25px;
  margin-top: 10px;
}

a, a:visited, a:hover { color:#666; }

#header, .section {
  margin-bottom:8px;
}

/*-------------------------------------------------------------------------- */
/* NAV */
/*-------------------------------------------------------------------------- */
#nav {
  font-family: "helvetica neue", sans-serif;
  z-index: 1;
}
#nav,#nav * {
  box-sizing: border-box;
  moz-box-sizing: border-box;
  webkit-box-sizing: border-box;
}
#nav,#nav ul {
  background: #e9e9e9;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
@media screen and (min-width:979px) {
  #nav,#nav ul {
    background: transparent;
    text-align: center;
  }
}
#nav li {
  border-bottom:solid 1px #dedede;
  display: block;
  float: left;
  width: 100%;
}
#nav li.logo {
  margin-top: 0;
}
#nav li.logo img {
  height: 100px;
}
@media screen and (min-width:979px) {
  #nav li {
    display: block;
    display: inline-block;
    float: left;
    margin-top: 40px;
    padding: 0 0.5em;
    width: auto;
  }
  #nav li.logo {
    border: 0 none;
  }
  #nav li.logo a {
    padding: 1em 0.5em;
  }
  #nav li.logo a:hover,#nav li.logo a:focus {
    border-bottom: 0 none;
  }
}
#nav a {
  float: left;
  font-size: 112.5%;
  font-weight: 400;
  letter-spacing: 2px;
  padding: .5em 0.5em;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
}
#nav a:focus {
  background: #ca2d09;
  outline: none;
}
@media screen and (min-width:979px) {
  #nav a {
    background: transparent;
    color: #37302a;
    font-size: 1.1em;
    margin: 0;
    moz-transition: background .5s ease;
    o-transition: background .5s ease;
    padding: .5em 0.5em;
    text-align: center;
    transition: background .5s ease;
    webkit-font-smoothing: antialiased;
    webkit-transition: background .5s ease;
  }
  #nav a:hover,#nav a:focus {
    border-bottom: 1px solid #555;
  }
  #nav .active a {
    webkit-font-smoothing: subpixel-antialiased;
  }
  #nav .active a:hover {
    text-decoration: none;
  }
  #nav .active a:focus {
    background: #ca2d09;
  }
}
.js #nav {
 clip: rect(0 0 0 0);
 display: block;
 max-height: 0;
 overflow: hidden;
 position: absolute;
}
@media screen and (min-width:979px) {
  .js #nav {
    max-height: none;
    position: relative !important;
  }
}
#nav.opened {
 max-height: 9999px;
}
#nav-toggle {
  background: #78766F url("../images/hamburger.gif") no-repeat 50% 33%;
  display: block;
  float: right;
  height: 55px;
  moz-user-select: none;
  ms-user-select: none;
  overflow: hidden;
  text-indent: -9999px;
  user-select: none;
  webkit-touch-callout: none;
  webkit-user-select: none;
  width: 70px;
}
@media screen and (-webkit-min-device-pixel-ratio:1.3),screen and (min--moz-device-pixel-ratio:1.3),screen and (-o-min-device-pixel-ratio:2 / 1),screen and (min-device-pixel-ratio:1.3),screen and (min-resolution:192dpi),screen and (min-resolution:2dppx) {
  #nav-toggle {
    background-image: url("../images/hamburger-retina.gif");
    background-size: 100px 100px !important;
    moz-background-size: 100px 100px !important;
    o-background-size: 100px 100px !important;
    webkit-background-size: 100px 100px !important;
  }
}
@media screen and (min-width:979px) {
  #nav-toggle {
    display: none;
  }
}
/*-------------------------------------------------------------------------- */
/* end NAV */
/*-------------------------------------------------------------------------- */

.row .speaker {
  margin-top: 25px;
}
#footer p { margin:0; }

#intro p {
  font-size:20px;
  margin:0;
}

.small.devider {
  width:70px;
  border-top:2px solid #dedede;
  margin:15px auto 15px auto;
}

#intro .small.devider { border-top:2px solid #dedede; }

.large.devider {
  width:60%;
  border-top:2px solid #dedede;
  margin:8px auto 12px auto;
}

input[type="email"] {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

input#mce-EMAIL, input.button, a.button {
  font-family: georgia, serif;
  color:#78766F;
}

.button.secondary {
  color:#78766F;
  margin-left:auto;
  margin-right:auto;
}

.animated { opacity:0; }

::-webkit-input-placeholder { text-align:center; }
:-moz-placeholder { text-align:center; }
::-moz-placeholder { text-align:center; }
:-ms-input-placeholder { text-align:center; }


ul li {
  text-align:center;
  list-style-type:none;
  font-size:120%;
}

a {
  text-decoration: underline;
}

#detailed_speakers h4 {
  margin: 5px 0px 10px 0px;
  font-size: 18px;
}

#detailed_speakers p {
  text-align: left;
}

p.bio {
  font-size: 110%;
}

table.schedule {
  padding-bottom: 15px;
  padding-top: 15px;
}

.schedule th.times {
  width: 20%;
}

table.schedule thead th {
  text-align: center;
}

.schedule th.day2, .schedule th.day3 {
  width: 40%;
}

.schedule td {
  border: 1px solid #ccc;
}
