#header {
  padding:10px 0 10px 0;
  text-align:center;
}

#header ul {
  list-style-type:none;
  font-family:prata, serif;
}

#header ul li {
  float:left;
  margin:100px 16px 0 16px;
  font-size:20px;
  font-weight:bold;
}

#header ul a, #header ul a:visited {
  color:#4C4B46;
}

body {
  background:#F5F4F0;
  color:#78766F;
  text-align:center;
  font-family:georgia, serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family:prata, serif;
  line-height:140%;
  display:inline-block;
}

p {
  font-family:georgia, serif;
  font-size:120%;
}

h1, h2, h3, h4, h5, h6 { color:#4C4B46; }

h4 { margin:30px 0 30px 0; }

.speaker-frame, .speaker-frame img {
  width:200px;
  height:200px;
  -webkit-border-radius:100px;
  border-radius:100px;
  margin:0 auto 15px auto;
}

.speaker, .sponsorship { margin-bottom:50px; }

a, a:visited, a:hover { color:#999; }

#header, .section {
  margin-bottom:20px;
}

#footer p { margin:0; }

#intro p {
  font-size:20px;
  margin:0;
}

.small.devider {
  width:70px;
  border-top:2px solid #dedede;
  margin:15px auto 15px auto;
}

#intro .small.devider { border-top:2px solid #dedede; }

.large.devider {
  width:60%;
  border-top:2px solid #dedede;
  margin:25px auto 5px auto;
}

input[type="email"] {
  text-align:center;
  margin-left:auto;
  margin-right:auto;
}

input#mce-EMAIL, input.button, a.button {
  font-family: georgia, serif;
  color:#78766F;
}

.button.secondary {
  color:#78766F;
}

.animated { opacity:0; }

::-webkit-input-placeholder { text-align:center; }
:-moz-placeholder { text-align:center; }
::-moz-placeholder { text-align:center; }
:-ms-input-placeholder { text-align:center; }


ul li {
  text-align:center;
  list-style-type:none;
  border-bottom:solid 1px #dedede;
  padding:10px 0 10px 0;
  font-size:120%;
}

ul#nav li a {
  text-decoration: none;
}

a {
  text-decoration: underline;
}
